
# Created by https://www.gitignore.io/api/node,phpstorm,phpstorm+all,phpstorm+iml

### PHP ###

/vendor
/.idea
.env
# End of https://www.gitignore.io/api/node,phpstorm,phpstorm+all,phpstorm+iml
.DS_Store
